<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

Logging in


<script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


<!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
<script type="text/javascript">
    var urlFragment = window.location.hash.substr(1);

    var accessTokenKVPair = urlFragment.split('&')[0];
    var accessToken = accessTokenKVPair.split('=')[1];

    var idTokenKVPair = urlFragment.split('&')[1];
    var idToken = idTokenKVPair.split('=')[1];

    console.log(accessToken);
    console.log(idToken);

    localStorage.setItem('accessToken', accessToken);


    var data = {
        "idToken": idToken
    };

    $.ajax({
        type: "POST",
        url: '/auth/twitch',
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(data),
        success: function () {
            window.location.href = "/setting";
        }
    });
</script>
</body>
</html>